<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-luis-enrique">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `header-luis-enrique`
     * Practica Header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderLuisEnrique extends Polymer.Element {
      static get is() { return 'header-luis-enrique'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-luis-enrique'
          }
        };
      }
    }

    window.customElements.define(HeaderLuisEnrique.is, HeaderLuisEnrique);
  </script>
</dom-module>
