<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-luis-enrique">
  <template>
    <style>
      :host {
        display: block;
      }
      
      :host img {
        width: 1em;
        height: 1em;
      }

    </style>
    <paper-header-panel class="flex">
      <paper-toolbar slot="header">
        <div>Header Luis Enrique
          <img src="../images/hambur.png" id="imagen" style="float: left">
          <img src="../images/flecha.svg" id="imagen2" style="float: right">
        </div>
      </paper-toolbar>
    </paper-header-panel>
  </template>

  <script>
    /**
     * `header-luis-enrique`
     * Practica Header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderLuisEnrique extends Polymer.Element {
      static get is() { return 'header-luis-enrique'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-luis-enrique'
          }
        };
      }
    }

    window.customElements.define(HeaderLuisEnrique.is, HeaderLuisEnrique);
  </script>
</dom-module>
